.header-info {
    background: var(--day-text-icons-text-01-inverse);

    border: 1px solid var(--day-base-base-03);
    border-radius: 16px;
    padding: 24px 32px;

    margin-top: 24px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    flex-shrink: 0;
}

.first-column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 40%;
    min-width: 0;
    padding-right: 24px;
}

.pa-type-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 8px;
}

.pa-type {
    font-weight: 500;
    color: var(--day-text-icons-text-02);

    margin: 0;
    padding: 0;
}

.badge {
    padding: 2px 8px !important;
    margin-left: 16px;
}

.product-name .tui-text_h4 {
    margin: 0 !important;
    padding: 0 !important;
}

.second-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    width: 60%;

    gap: 16px;
}

.card-info {
    border-radius: 16px;
    padding: 14px 20px;

    background: var(--day-base-background);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    flex: 0 1 auto;
    width: 100%;
    min-width: 70px;
    max-width: 152px;
    max-height: 76px;
    min-height: 0;

    gap: 4px;
}

.card-title-1 {
    font-weight: 500;
    color: var(--day-text-icons-text-02);

    margin: 0;
    padding: 0;

    width: 100%;
    max-width: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: help;
}

.card-title-2 {
    font-weight: 700;
    color: var(--day-text-icons-text-01);
    margin: 0;
    padding: 0;

    width: 100%;
    max-width: inherit;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    cursor: help;
}

@media (max-width: 1582px) {
    .card-department {
        display: none;
    }
}

@media (max-width: 1280px) {
    .card-department,
    .card-assignee {
        display: none;
    }
}

@media (max-width: 1024px) {
    .card-department,
    .card-assignee {
        display: none;
    }

    .pa-type {
        font-size: 12px !important;
    }

    .badge {
        font-size: 12px !important;
    }

    .product-name .tui-text_h4 {
        font-size: 20px !important;
    }

    .card-title-1 {
        font-size: 10px !important;

        width: 100%;
        max-width: inherit;

        white-space: initial;
        overflow: hidden;
        text-overflow: initial;
    }

    .card-title-2 {
        font-size: 12px !important;

        width: 100%;
        max-width: inherit;

        white-space: inherit;
        overflow: hidden;
        text-overflow: initial;
    }
}

