<app-header-operator/>

<div class="content-wrapper">
    <app-loader [isLoading]="isLoading"/>

    <div [hidden]="isLoading" class="main-container">
        <app-back-header (backClicked)="goBack()" *ngIf="!isLoading && formInfo"/>

        <app-header-form [formInfo]="formInfo" [isLoading]="isLoading"/>

        <div [hidden]="isLoading" class="form-table-wrapper">
            <div class="form-table">
                <div class="type-header">
                    <div *ngFor="let col of formInfo!.template!.tableColumns; let i = index"
                         [ngStyle]="{
                         'justify-content': getJustifyContent(columnAlignments, i),
                         'text-align': getAlignText(columnAlignments, i)
                         }"
                         class="type-header-column-en">
                        {{ col.name }}
                    </div>
                </div>

                <div class="type-rows-container">
                    <div *ngFor="let row of formRows; let i = index"
                         [ngClass]="{'type-rows-break': isBreakRow(row.values)}"
                         class="type-rows">
                        <ng-container *ngIf="isBreakRow(row.values); else normalRow">
                            <ng-container *ngFor="let col of formInfo!.template.tableColumns; let i = index">
                                <div [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell">
                                    <ng-container *ngIf="i === 0">
                                        {{ formatTimeCell(row.values, i) }}
                                    </ng-container>

                                    <ng-container *ngIf="i !== 0">
                                        {{ getRowCellValue(row.values, i) }}
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-template #normalRow>
                            <ng-container *ngFor="let col of formInfo!.template.tableColumns; let i = index">
                                <div *ngIf="i !== 3 && i !== 7 && i !== 8 && i !== 9 && i !== 10"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell">
                                    <ng-container *ngIf="i === 0">
                                        {{ formatTimeCell(row.values, i) }}
                                    </ng-container>

                                    <ng-container *ngIf="i !== 0">
                                        {{ getRowCellValue(row.values, i) }}
                                    </ng-container>
                                </div>

                                <!-- Input ячейка (колонка 4 - Факт, шт) -->
                                <div *ngIf="i === 3"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <input
                                        (change)="setRowCellValue(row, i, $any($event.target).value)"
                                        [class.has-value]="hasInputValue(row, i)"
                                        [disabled]="isCompletedForm"
                                        [value]="getRowCellValue(row.values, i)"
                                        class="cell-input"/>
                                </div>

                                <!-- Input ячейка (колонка 8 - Простой мин) -->
                                <div *ngIf="i === 7"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <input
                                        (change)="setRowCellValue(row, i, $any($event.target).value)"
                                        [class.has-value]="hasInputValue(row, i)"
                                        [disabled]="isCompletedForm"
                                        [value]="getRowCellValue(row.values, i)"
                                        class="cell-input"
                                    />
                                </div>

                                <!-- Combo-box ячейка (колонка 9 - Ответственный за простой) -->
                                <div *ngIf="i === 8 && !isCompletedForm"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <tui-combo-box
                                        [formControl]="getEmployeeControl(row)"
                                        [stringify]="stringify"
                                        [tuiDropdownMaxHeight]="150"
                                        [tuiTextfieldLabelOutside]="true"
                                        class="tui-input-row"
                                        tuiTextfieldSize="m"
                                    >
                                        <tui-data-list-wrapper
                                            *tuiDataList
                                            [itemContent]="stringify | tuiStringifyContent"
                                            [items]="employees | tuiFilterByInput"
                                        />
                                    </tui-combo-box>
                                </div>

                                <div *ngIf="i === 8 && isCompletedForm"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <input
                                        (change)="setRowCellValue(row, i, $any($event.target).value)"
                                        [class.has-value]="hasInputValue(row, i)"
                                        [disabled]="isCompletedForm"
                                        [value]="getRowCellValue(row.values, i)"
                                        class="cell-input"
                                    />
                                </div>

                                <!-- Combo-box ячейка (колонка 10 - Группы причин) -->
                                <div *ngIf="i === 9 && !isCompletedForm"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <tui-combo-box
                                        [formControl]="getReasonControl(row)"
                                        [stringify]="stringifyReason"
                                        [tuiDropdownMaxHeight]="150"
                                        [tuiTextfieldLabelOutside]="true"
                                        class="tui-input-row"
                                        tuiTextfieldSize="m"
                                    >
                                        <tui-data-list-wrapper
                                            *tuiDataList
                                            [itemContent]="stringifyReason | tuiStringifyContent"
                                            [items]="downtimeReasonGroups | tuiFilterByInput"
                                        />
                                    </tui-combo-box>
                                </div>

                                <div *ngIf="i === 9 && isCompletedForm"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <input
                                        (change)="setRowCellValue(row, i, $any($event.target).value)"
                                        [class.has-value]="hasInputValue(row, i)"
                                        [disabled]="isCompletedForm"
                                        [value]="getRowCellValue(row.values, i)"
                                        class="cell-input"
                                    />
                                </div>

                                <!-- Input ячейка (колонка 11 - Причины отклонения) -->
                                <div *ngIf="i === 10"
                                     [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, i)}"
                                     class="type-row-cell type-row-input">
                                    <input
                                        (change)="setRowCellValue(row, i, $any($event.target).value)"
                                        [class.has-value]="hasInputValue(row, i)"
                                        [disabled]="isCompletedForm"
                                        [value]="getRowCellValue(row.values, i)"
                                        class="cell-input reason"
                                    />
                                </div>
                            </ng-container>
                        </ng-template>
                    </div>

                    <div *ngIf="formInfo && formInfo.totalValues" class="type-rows-final">
                        <div class="type-row-cell">ИТОГО</div>
                        <div *ngFor="let i of [1, 3, 5]"
                             class="type-row-cell">
                            {{ getTotalValue(i) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="formInfo && formInfo.status !== 1 && !isCompletedForm" [hidden]="isLoading" class="final-btn">
            <button
                (click)="toggleModal('complete',true)"
                [disabled]="!isThirdColumnValid"
                appearance="primary"
                size="m"
                tuiButton
                type="button"
            >
                Завершить
            </button>
        </div>
    </div>

    <app-completed-form-pop-up
        (close)="toggleModal('complete',false)"
        (complete)="completeForm()"
        [isVisible]="modalStates.complete">
    </app-completed-form-pop-up>
</div>

<app-footer/>
