:host {
    display: flex;
    flex-direction: column;
}

.dashboard-admin {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    background: var(--day-text-icons-text-01-inverse);
    border-radius: 16px;
    border: 1px solid var(--day-base-base-03);
    padding: 32px;
    margin-bottom: 32px;
}

.tui-text_h4 {
    margin-top: 0;
    margin-bottom: 32px;
}

app-back-header {
    margin-top: 32px;
    margin-bottom: 32px;
}
