<app-header-head/>

<div class="main-container">
    <div class="dashboard-operator">
        <div class="first-container">
            <p class="tui-text_h4">
                Мои формы
            </p>

            <button
                (click)="goNewForms()"
                iconStart="@tui.plus"
                size="m"
                tuiButton
                type="button"
            >
                Новая форма
            </button>
        </div>

        <div class="second-container">
            <tui-tabs *ngIf="!isFormTypeActive">
                <button
                    [routerLink]="'/department-head/all-list'"
                    class="tab-link"
                    routerLinkActive="active"
                    tuiTab
                    type="button"
                >
                    Все
                </button>

                <button
                    [routerLink]="'/department-head/progress-list'"
                    class="tab-link"
                    routerLinkActive="active"
                    tuiTab
                    type="button"
                >
                    В работе

                    <tui-badge
                        *ngIf="progressFormsCount > 0"
                        appearance="accent"
                        class="badge"
                        size="m"
                    >
                        {{ progressFormsCount }}
                    </tui-badge>
                </button>

                <button
                    [routerLink]="'/department-head/completed-list'"
                    class="tab-link"
                    routerLinkActive="active"
                    tuiTab
                    type="button"
                >
                    Завершенные

                    <tui-badge
                        *ngIf="completedFormsCount > 0"
                        class="badge"
                        size="m"
                    >
                        {{ completedFormsCount }}
                    </tui-badge>
                </button>
            </tui-tabs>

            <tui-textfield
                iconStart="@tui.search"
                tuiTextfieldSize="m"
            >
                <input
                    (ngModelChange)="onSearchChange($event)"
                    [(ngModel)]="searchValue"
                    placeholder="Поиск"
                    tuiTextfield
                />

            </tui-textfield>
        </div>

        <router-outlet></router-outlet>
    </div>
</div>

<app-footer/>
