:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header-head {
    flex-shrink: 0;
}

tui-tabs-with-more {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    border-bottom: 1px solid var(--day-base-base-04) !important;
    box-shadow: none !important;
    flex-shrink: 0;
}

.tab-link {
    border-radius: 0 !important;
    padding: 0 !important;
}

app-footer {
    margin-top: auto !important;
    flex-shrink: 0;
}
