<app-header-admin/>

<div class="main-container">
    <app-loader [isLoading]="isLoading"/>

    <div *ngIf="!isChildRouteActive" class="dashboard-admin">
        <div class="progress-container">
            <div class="first-container">
                <p class="tui-text_h4">
                    Справочники
                </p>
            </div>

            <div *ngIf="!isLoading" class="table-header-is-head">
                <div class="table-cell header-cell tui-text_body-s">Название</div>
            </div>

            <div *ngIf="!isLoading" class="progress-table">
                <div>
                    <div (click)="onRowClick(dict)" *ngFor="let dict of dictionaries"
                         class="table-row-is-head cursor-pointer">
                        <div class="table-cell tui-text_body-m">
                            {{ dict.name }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <router-outlet/>
</div>

<app-footer/>
