app-footer {
    background: var(--day-base-background) !important;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 1px solid var(--day-base-base-04);
    padding: 0 48px;

    flex-wrap: wrap;

    background: var(--day-base-background) !important;
}

.tui-text_body-s {
    color: var(--day-text-icons-text-03);
    margin-top: 18px;
    margin-bottom: 18px;
}
