<app-header-operator/>

<div class="content-wrapper">
    <app-loader [isLoading]="isLoading"/>

    <div [hidden]="isLoading" class="main-container">
        <app-back-header (backClicked)="goBack()" *ngIf="!isLoading && formInfo"/>

        <app-header-form [formInfo]="formInfo" [isLoading]="isLoading"/>

        <div [hidden]="isLoading" class="form-table-wrapper">
            <div class="form-table">
                <div class="type-header">
                    <div class="type-header-column-en">
                        {{ formInfo!.template!.tableColumns?.[0]!.name }}
                    </div>

                    <div *ngFor="let col of getTableColumns(); let i = index"
                         [ngStyle]="{
                         'justify-content': getJustifyContent(columnAlignments, i + 1),
                         'text-align': getAlignText(columnAlignments, i + 1)
                         }"
                         class="type-header-column-en">
                        {{ col.name }}
                    </div>
                </div>

                <div class="type-rows-container">
                    <!-- Итерируем по всем строкам -->
                    <ng-container *ngFor="let row of formRows; let i = index">
                        <!-- Ячейка продукта -->
                        <ng-container *ngIf="isFirstRowOfProduct(i)">
                            <div [style.grid-row]="'span ' + getProductRowspan(i)"
                                 [style.height]="getProductLabelHeight(i)"
                                 class="product-label-cell">
                                {{ getProductName(row.productId) }}
                            </div>
                        </ng-container>

                        <!-- Пустая ячейка для строк БЕЗ productId -->
                        <ng-container *ngIf="!row.productId">
                            <div class="product-label-empty"></div>
                        </ng-container>

                        <!-- Содержимое строки -->
                        <div [ngClass]="{'type-rows-break': isBreakRow(row.values)}"
                             class="type-rows">
                            <ng-container *ngIf="isBreakRow(row.values); else normalRow">
                                <ng-container
                                    *ngFor="let col of formInfo!.template.tableColumns; let colIndex = index">
                                    <div
                                        [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                        class="type-row-cell">
                                        <ng-container *ngIf="colIndex === 0">
                                            {{ formatTimeCell(row.values, colIndex) }}
                                        </ng-container>

                                        <ng-container *ngIf="colIndex !== 0">
                                            {{ getRowCellValue(row.values, colIndex) }}
                                        </ng-container>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <ng-template #normalRow>
                                <ng-container
                                    *ngFor="let col of formInfo!.template.tableColumns; let colIndex = index">
                                    <div
                                        *ngIf="colIndex !== 3 && colIndex !== 7 && colIndex !== 8 && colIndex !== 9 && colIndex !== 10"
                                        [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                        class="type-row-cell">
                                        <ng-container *ngIf="colIndex === 0">
                                            {{ formatTimeCell(row.values, colIndex) }}
                                        </ng-container>

                                        <ng-container *ngIf="colIndex !== 0">
                                            {{ getRowCellValue(row.values, colIndex) }}
                                        </ng-container>
                                    </div>

                                    <!-- Input ячейка (колонка 4 - Факт, шт) -->
                                    <div *ngIf="colIndex === 3"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [disabled]="isCompletedForm"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"/>
                                    </div>

                                    <!-- Input ячейка (колонка 8 - Простой мин) -->
                                    <div *ngIf="colIndex === 7"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [disabled]="isCompletedForm"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"
                                        />
                                    </div>

                                    <!-- Combo-box ячейка (колонка 9 - Ответственный за простой) -->
                                    <div *ngIf="colIndex === 8 && !isCompletedForm"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <tui-combo-box
                                            [formControl]="getEmployeeControl(row)"
                                            [stringify]="stringify"
                                            [tuiDropdownMaxHeight]="150"
                                            [tuiTextfieldLabelOutside]="true"
                                            class="tui-input-row"
                                            tuiTextfieldSize="m"
                                        >
                                            <tui-data-list-wrapper
                                                *tuiDataList
                                                [itemContent]="stringify | tuiStringifyContent"
                                                [items]="employees | tuiFilterByInput"
                                            />
                                        </tui-combo-box>
                                    </div>

                                    <div *ngIf="colIndex === 8 && isCompletedForm"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [disabled]="isCompletedForm"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"
                                        />
                                    </div>

                                    <!-- Combo-box ячейка (колонка 10 - Группы причин) -->
                                    <div *ngIf="colIndex === 9 && !isCompletedForm"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <tui-combo-box
                                            [formControl]="getReasonControl(row)"
                                            [stringify]="stringifyReason"
                                            [tuiDropdownMaxHeight]="150"
                                            [tuiTextfieldLabelOutside]="true"
                                            class="tui-input-row"
                                            tuiTextfieldSize="m"
                                        >
                                            <tui-data-list-wrapper
                                                *tuiDataList
                                                [itemContent]="stringifyReason | tuiStringifyContent"
                                                [items]="downtimeReasonGroups | tuiFilterByInput"
                                            />
                                        </tui-combo-box>
                                    </div>

                                    <div *ngIf="colIndex === 9 && isCompletedForm"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [disabled]="isCompletedForm"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"
                                        />
                                    </div>

                                    <!-- Input ячейка (колонка 11 - Причины отклонения) -->
                                    <div *ngIf="colIndex === 10"
                                         [ngStyle]="{'justify-content': getJustifyContent(columnAlignments, colIndex)}"
                                         class="type-row-cell type-row-input">
                                        <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [disabled]="isCompletedForm"
                                            [title]="getRowCellValue(row.values, colIndex)"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input reason"
                                        />
                                    </div>
                                </ng-container>
                            </ng-template>
                        </div>
                    </ng-container>

                    <div *ngIf="formInfo && formInfo.totalValues" class="type-rows-final">
                        <div class="type-row-cell type-row-empty"></div>
                        <div class="type-row-cell">ИТОГО</div>
                        <div *ngFor="let i of [1, 3, 5]"
                             class="type-row-cell">
                            {{ getTotalValue(i) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="formInfo && formInfo.status !== 1 && !isCompletedForm" [hidden]="isLoading" class="final-btn">
            <button
                (click)="toggleModal('complete',true)"
                [disabled]="!isThirdColumnValid"
                appearance="primary"
                size="m"
                tuiButton
                type="button"
            >
                Завершить
            </button>
        </div>
    </div>

    <app-completed-form-pop-up
        (close)="toggleModal('complete',false)"
        (complete)="completeForm()"
        [isVisible]="modalStates.complete">
    </app-completed-form-pop-up>
</div>

<app-footer/>
