:host {
    display: block;
}

.sidebar {
    width: 350px;
    max-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    border-radius: 0;
}

.content {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 32px 24px;
    box-sizing: border-box;
    background: var(--day-text-icons-text-01-inverse);
}
 
.title {
    margin-top: 0;
    margin-bottom: 24px;
}

.info-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.field-value {
    display: flex;
    flex-direction: column;
}

.label {
    color: var(--day-text-icons-text-02);
}

.value {
    color: var(--day-text-icons-text-01);
}

.actions {
    margin-top: auto;
    display: flex;
    gap: 16px;
}

.outline-b {
    border: 1px solid rgba(108, 134, 226, 0.32) !important;
}

.close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 2;
}
