<app-header-operator/>

<div class="content-wrapper">
    <app-loader [isLoading]="isLoading"></app-loader>

    <div [hidden]="isLoading" class="main-container">
        <app-back-header (backClicked)="goBack()" *ngIf="!isLoading && formInfo"/>

        <app-header-form-operator [formInfo]="formInfo" [isLoading]="isLoading"></app-header-form-operator>

        <div class="form-table-wrapper">
            <div class="form-table">
                <div class="type-1-header">
                    <!--            <div-->
                    <!--                *ngFor="let column of formInfo!.template.tableColumns; let i = index"-->
                    <!--                [style.justify-content]="getColumnConfig(i).align === 'left' ? 'flex-start'-->
                    <!--                           : getColumnConfig(i).align === 'right' ? 'flex-end'-->
                    <!--                           : 'center'"-->
                    <!--                [style.max-width]="getColumnConfig(i).width"-->
                    <!--                [style.width]="getColumnConfig(i).width"-->
                    <!--                class="type-1-header-column"-->
                    <!--            >-->
                    <!--                {{ column.name }}-->
                    <!--            </div>-->

                    <div *ngFor="let col of columnHeaders; let i = index"
                         [ngStyle]="{'justify-content': getJustifyContent(i), 'text-align': getAlignText(i)}"
                         class="type-1-header-column-en">
                        {{ col }}
                    </div>
                </div>

                <div class="type-1-rows-container">
                    <div *ngFor="let row of formRows; let i = index"
                         [ngClass]="{'type-1-rows-break': isBreakRow(row.values)}"
                         class="type-1-rows">
                        <ng-container *ngIf="isBreakRow(row.values); else normalRow">
                            <ng-container *ngFor="let col of columnHeaders; let colIndex = index">
                                <div [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell">
                                    <ng-container *ngIf="colIndex === 0">
                                        {{ formatTimeCell(row.values, colIndex) }}
                                    </ng-container>

                                    <ng-container *ngIf="colIndex !== 0">
                                        {{ getRowCellValue(row.values, colIndex) }}
                                    </ng-container>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-template #normalRow>
                            <ng-container *ngFor="let col of columnHeaders; let colIndex = index">
                                <div *ngIf="colIndex !== 3 && colIndex !== 7 && colIndex !== 8 && colIndex !== 9 && colIndex !== 10"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell">
                                    <ng-container *ngIf="colIndex === 0">
                                        {{ formatTimeCell(row.values, colIndex) }}
                                    </ng-container>

                                    <ng-container *ngIf="colIndex !== 0">
                                        {{ getRowCellValue(row.values, colIndex) }}
                                    </ng-container>
                                </div>

                                <!-- Input ячейка (колонка 3 - Факт, шт) -->
                                <div *ngIf="colIndex === 3"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell type-1-row-input">
                                    <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"/>
                                </div>

                                <!-- Input ячейка (колонка 7 - Простой мин) -->
                                <div *ngIf="colIndex === 7"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell type-1-row-input">
                                    <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input"
                                    />
                                </div>

                                <!-- Combo-box ячейка (колонка 8 - Ответственный за простой) -->
                                <div *ngIf="colIndex === 8"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell type-1-row-input">
                                    <tui-combo-box
                                            [formControl]="getEmployeeControl(row)"
                                            [stringify]="stringify"
                                            [tuiDropdownMaxHeight]="150"
                                            [tuiTextfieldLabelOutside]="true"
                                            class="tui-input-row"
                                            tuiTextfieldSize="m"
                                    >
                                        <tui-data-list-wrapper
                                                *tuiDataList
                                                [itemContent]="stringify | tuiStringifyContent"
                                                [items]="employees | tuiFilterByInput"
                                        />
                                    </tui-combo-box>
                                </div>

                                <!-- Combo-box ячейка (колонка 9 - Группы причин) -->
                                <div *ngIf="colIndex === 9"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell type-1-row-input">
                                    <tui-combo-box
                                            [formControl]="getReasonControl(row)"
                                            [stringify]="stringifyReason"
                                            [tuiDropdownMaxHeight]="150"
                                            [tuiTextfieldLabelOutside]="true"
                                            class="tui-input-row"
                                            tuiTextfieldSize="m"
                                    >
                                        <tui-data-list-wrapper
                                                *tuiDataList
                                                [itemContent]="stringifyReason | tuiStringifyContent"
                                                [items]="downtimeReasonGroups | tuiFilterByInput"
                                        />
                                    </tui-combo-box>
                                </div>

                                <!-- Input ячейка (колонка 10 - Причины отклонения) -->
                                <div *ngIf="colIndex === 10"
                                     [ngStyle]="{'justify-content': getJustifyContent(colIndex)}"
                                     class="type-1-row-cell type-1-row-input">
                                    <input
                                            (change)="setRowCellValue(row, colIndex, $any($event.target).value)"
                                            [class.has-value]="hasInputValue(row, colIndex)"
                                            [value]="getRowCellValue(row.values, colIndex)"
                                            class="cell-input reason"
                                    />
                                </div>
                            </ng-container>
                        </ng-template>
                    </div>

                    <div *ngIf="formInfo && formInfo.totalValues" class="type-1-rows-final">
                        <div class="type-1-row-cell">ИТОГО</div>
                        <div *ngFor="let colIndex of [1, 2, 3]"
                             class="type-1-row-cell">
                            {{ getTotalValue(colIndex) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="final-btn">
            <button
                    [disabled]="!isThirdColumnValid"
                    appearance="primary"
                    size="m"
                    tuiButton
                    type="button"
            >
                Завершить
            </button>
        </div>
    </div>
</div>

<app-footer/>
