:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header-head {
    flex-shrink: 0;
    margin-bottom: 32px;
}

.forms-container {
    display: flex;
    flex-direction: column;
    background: var(--day-text-icons-text-01-inverse);

    border: 1px solid var(--day-base-base-03);
    border-radius: 16px;
    padding: 32px;
    margin-top: 24px;
    margin-bottom: 48px;
}

.tui-text_h4 {
    margin-top: 0;
    margin-bottom: 32px;
}

.forms-select {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border: 2px solid var(--day-base-base-04);
    border-radius: 16px;

    max-height: 254px;

    background: var(--day-text-icons-text-01-inverse);

    cursor: pointer;
}

.form-container:hover {
    border: 2px solid var(--day-base-primary-hover);
}

.form-container:active {
    border: 2px solid var(--day-base-primary-active);
}

.image-container {
    padding: 24px;
    background: var(--day-base-background);

    border-radius: 16px 16px 0 0;
}

.title-container {
    border-radius: 0 0 16px 16px;
}

.tui-text_h6 {
    padding: 21px 24px 24px;
    margin: 0;

    border-top: 1px solid var(--day-base-base-04);
}

app-footer {
    margin-top: auto !important;
    flex-shrink: 0;
}

@media (max-width: 1280px) {
    .tui-text_h6 {
        padding: 16px;
        font-size: 16px;
    }
}

@media (max-width: 1024px) {
    .forms-select {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
}

@media (max-width: 870px) {
    .forms-select {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .tui-text_h6 {
        padding: 16px;
        font-size: 17px;
        line-height: 1.35;
    }
}

@media (max-width: 768px) {
    .forms-select {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .tui-text_h4 {
        margin-bottom: 24px;
    }

    .tui-text_h6 {
        padding: 16px;
        font-size: 14px;
        line-height: 1.35;
    }
}

@media (max-width: 480px) {
    .forms-select {
        grid-template-columns: 1fr;
        gap: 12px;
    }

    .tui-text_h4 {
        margin-bottom: 16px;
        font-size: 18px;
    }

    .tui-text_h6 {
        padding: 12px;
        font-size: 14px;
        line-height: 1.3;
    }
}
