<app-header-head/>

<div class="main-container">
    <app-back-header (backClicked)="goBack()" *ngIf="!isFormTypeActive"/>

    <div *ngIf="!isFormTypeActive" class="forms-container">
        <p class="tui-text_h4">
            Выберите тип ведения
        </p>

        <div class="forms-select">
            <div (click)="navigateToFormType('type-1')" class="form-container">
                <div class="image-container">
                    <img class="form-image" height="133" src="assets/type-1.svg" width="133">
                </div>

                <div class="title-container">
                    <p class="tui-text_h6">
                        По времени такта
                    </p>
                </div>
            </div>

            <div (click)="navigateToFormType('type-2')" class="form-container">
                <div class="image-container">
                    <img class="form-image" height="133" src="assets/type-2.svg" width="133">
                </div>

                <p class="tui-text_h6">
                    По мощности рабочего места
                </p>
            </div>

            <div (click)="navigateToFormType('type-3')" class="form-container">
                <div class="image-container">
                    <img class="form-image" height="133" src="assets/type-3.svg" width="133">
                </div>

                <p class="tui-text_h6">
                    Несколько номенклатур
                </p>
            </div>

            <div (click)="navigateToFormType('type-4')" class="form-container">
                <div class="image-container">
                    <img class="form-image" height="133" src="assets/type-4.svg" width="133">
                </div>

                <p class="tui-text_h6">
                    Менее 1 изделия в час
                </p>
            </div>

            <div (click)="navigateToFormType('type-5')" class="form-container">
                <div class="image-container">
                    <img class="form-image" height="133" src="assets/type-5.svg" width="133">
                </div>

                <p class="tui-text_h6">
                    Менее 1 изделия в смену
                </p>
            </div>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>

<app-footer/>
