<div class="form-grid">
    <div class="input-container">
        <p class="tui-text_body-s">
            Название
        </p>

        <tui-textfield tuiTextfieldSize="m">
            <input [formControl]="controlName" placeholder="Введите название" tuiTextfield type="text"/>
        </tui-textfield>
    </div>

    <div class="input-container">
        <p class="tui-text_body-s">
            Время такта (сек)
        </p>

        <tui-textfield tuiTextfieldSize="m">
            <input [formControl]="controlTactTime" placeholder="Введите время в секундах" tuiTextfield type="number"/>
        </tui-textfield>
    </div>

    <div class="input-container">
        <p class="tui-text_body-s">
            Предприятие
        </p>

        <tui-combo-box [formControl]="controlEnterprise" [stringify]="stringify" [tuiTextfieldLabelOutside]="true"
                       tuiTextfieldSize="m">
            Выберите предприятие
            <tui-data-list-wrapper *tuiDataList [itemContent]="content" [items]="enterprises"></tui-data-list-wrapper>
        </tui-combo-box>

        <ng-template #content let-data>
            {{ data.name }}
        </ng-template>
    </div>
</div>

<div class="button-final">
    <button (click)="onSubmit()" [disabled]="isFormInvalid()" appearance="primary" size="m" tuiButton type="button">
        {{ submitLabel }}
    </button>

    <button (click)="onCancel()" appearance="outline" class="outline-b" size="m" tuiButton type="button">
        Отменить
    </button>
</div>
