.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--day-text-icons-text-01-inverse) !important;
    box-shadow: 0 2px 4px 0 rgba(27, 31, 59, 0.04) !important;
    border-bottom: 1px solid var(--day-base-base-02) !important;

    margin-bottom: 24px;
    padding: 0 48px;
    position: relative;
    height: 56px !important;
}


.header-cont {
    order: -1;
    margin: 0 auto 0 0;
    max-width: 200px;
    width: 100%;
}

.header-title {
    font-family: var(--tui-font-text), sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 120%;
    color: var(--day-text-icons-link);

    padding: 0;
    margin: 0;
}

.user-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: auto !important;
    padding-right: 0 !important;
    order: 1;
}

.user-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    padding: 8px;
    background: var(--day-base-background);
}

.user-button-btn {
    margin: 0 !important;
    padding: 0 8px !important;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--day-text-icons-text-01);

    background: none !important;

    height: 30px;
}
