<div class="tabs">
    <div class="header-cont">
        <p class="header-title">ИБП</p>
    </div>

    <div class="user-button">
        <div class="user-button-icon">
            <img height="24" src="assets/user-round.svg" width="24"/>
        </div>

        <button
            [tuiDropdown]="content"
            class="user-button-btn"
            size="l"
            tuiButton
            tuiChevron
            tuiDropdownAlign="right"
            tuiDropdownLimitWidth="auto"
            tuiDropdownOpen
            type="button"
        >
            {{ userName }}
        </button>

        <ng-template #content>
            <tui-data-list
                (click)="onClick()"
                size="s">
                <button
                    (click)="logout()"
                    tuiAppearance="flat-destructive"
                    tuiOption
                    type="button"
                >
                    Выйти
                </button>
            </tui-data-list>
        </ng-template>
    </div>
</div>
